spring:
  application:
    name: gateway-service
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://auth-server:9000
          jwk-set-uri: http://auth-server:9000/oauth2/jwks
  zipkin:
    base-url: http://zipkin:9411

  cloud:
    config:
      enabled: true
    gateway:
      routes:
        - id: student-service
          uri: lb://student-service
          predicates:
            - Path=/student-service/**
          filters:
            - StripPrefix=1
        - id: professor-service
          uri: lb://professor-service
          predicates:
            - Path=/professor-service/**
          filters:
            - StripPrefix=1
        - id: evaluation-service
          uri: lb://evaluation-service
          predicates:
            - Path=/evaluation-service/**
          filters:
            - StripPrefix=1
        - id: notification-service
          uri: lb://notification-service
          predicates:
            - Path=/notification-service/**
          filters:
            - StripPrefix=1



eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8080/eureka
    fetch-registry: true
    register-with-eureka: true
  instance:
    hostname: eureka-server
    prefer-ip-address: true
server:
  port: 8081